@using Microsoft.CodeAnalysis.Elfie.Extensions
@using Microsoft.IdentityModel.Tokens
@model BoligBlik.MVC.Models.Bookings.CreateBookingViewModel



<h1>Opret Booking</h1>

<form asp-controller="Booking" asp-action="CreateBooking" method="post">
    <input type="hidden" asp-for="ItemId" />

    <div class="form-group">
        <label asp-for="StartTime" class="form-label">Starttidspunkt:</label>
        <input asp-for="StartTime" placeholder="Starttidspunkt" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime" class="form-label">Sluttidspunkt:</label>
        <input asp-for="EndTime" placeholder="Sluttidspunkt" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Opret Booking</button>
</form>