<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoligBlik.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*     <link rel="stylesheet" href="~/BoligBlik.MVC.styles.css" asp-append-version="true" />
    *@
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/StyleSheet.css" rel="stylesheet">
</head>



<body>
    <header>
        <!-- Topbar Start -->
        <div class="container-fluid bg-white py-2 d-none d-md-flex">
            <div class="container">
                <div class="d-flex justify-content-between topbar">
                    <div class="text-secondary d-none d-xl-flex"><small>Note : Vi hjælper dig med at få din virksomhed til at vokse</small></div>
                    <div class="top-link">
                        <a href="https://www.facebook.com/uniksystemdesign" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="https://www.linkedin.com/company/unik-system-design/" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->

        <div class="container-fluid bg-body">
            <div class="container">

                <nav class="navbar navbar-dark navbar-expand-lg py-0">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <h1 class="text-white fw-bold d-block">U<span class="text-secondary">NI</span>K</h1>
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                        <div class="navbar-nav ms-auto mx-xl-auto p-0">

                            <!-- Board Start -->
                            {
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Bestyrelsen</a>
                                <div class="dropdown-menu rounded">
                                    <a asp-controller="BoardMember" asp-action="ReadAll" class="dropdown-item">Mød bestyrelsen</a>
                                    <a href="/Admin/Claims" class="dropdown-item">Rettigheder</a>

                                </div>
                            </div>
                            }
                            <!-- Board End -->
                            <!-- Booking Start -->
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Booking</a>
                                <div class="dropdown-menu rounded">
                                    <a href="/Booking/NewBooking" class="dropdown-item">Ny Booking</a>
                                    <a href="/Booking/YoursBookings" class="dropdown-item">Dine Bookinger</a>
                                </div>
                            </div>
                            <!-- Booking End -->
                            <!-- Documents Start -->
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Dokumenter</a>
                                <div class="dropdown-menu rounded">
                                    <a href="/Documents/Bylaws" class="dropdown-item">Vedtægter</a>
                                    <a href="/Documents/BoardMinutes" class="dropdown-item">Bestyrelses Refetater</a>
                                </div>
                            </div>
                            <!-- Documents End -->
                            <!-- Address Start -->
                            {
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Address</a>
                                <div class="dropdown-menu rounded">
                                    <a asp-controller="Address" asp-action="GetAllAddress" class="dropdown-item">Adresser</a>
                                    <a href="/Address/Create" class="dropdown-item">Opret adr.</a>
                                    <a href="/Address/Edit" class="dropdown-item">Ændre adr.</a>
                                    <a href="/Address/Delete" class="dropdown-item">Slet.</a>


                                </div>
                            </div>
                            }
                            <!-- Address End -->
                            <!-- Administration Start -->
                            {
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Brugerprofiler</a>
                                <div class="dropdown-menu rounded">
                                    <a asp-controller="User" asp-action="GetAll" class="dropdown-item">Alle Profiler</a>
                                    <a asp-controller="User" asp-action="Delete" class="dropdown-item">Deaktiver Profil</a>
                                    <a asp-controller="User" asp-action="AssignIdentityRole" class="dropdown-item">Administer systemadgang</a>
                                </div>
                            </div>
                            }
                            <!-- Administration End -->
                        </div>
                    </div>
                    <div class="d-none d-xl-flex flex-shirink-0">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                            <a class="position-relative animated tada infinite">
                                <i class="fa fa-phone-alt text-white fa-2x"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-4 border-end">
                            <span class="text-white-50">Spørgsmål?</span>
                            <span class="text-secondary">Ring: +45 76 42 11 00</span>
                        </div>


                        <!-- SKAL vi tilføje et søge felt ??? -->
                        <div class="d-flex align-items-center justify-content-center ms-4 ">
                            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                        </div>
                    </div>
                    <partial name="_LoginPartial" />
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer Start -->
    <div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
        <div class="container pt-5 pb-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <h1 class="text-white fw-bold d-block">U<span class="text-secondary">NI</span>K</h1>
                    </a>
                    <p class="mt-4 text-light">SoMe.</p>
                    <div class="d-flex hightech-link">
                        <a href="https://www.facebook.com/uniksystemdesign" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="https://www.linkedin.com/company/unik-system-design/" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="h3 text-secondary">Links</a>
                    <div class="mt-4 d-flex flex-column short-link">
                        <a href="https://unik.dk/om-unik/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Om os</a>
                        <a href="https://unik.dk/ejendomsadministration/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Kontakt os</a>
                        <a href="https://unik.dk/vores-loesninger/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Brancheløsninger</a>
                        <a href="https://unik.dk/partnere/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Unik Partnere</a>
                        <a href="https://unik.dk/nyheder/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Nyheder</a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="h3 text-secondary">Hjælpe Links</a>
                    <div class="mt-4 d-flex flex-column help-link">
                        <a href="https://unik.dk/privatlivspolitik/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privatlivspolitik</a>
                        <a href="https://unik.dk/support/" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Support</a>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <a class="h3 text-secondary">Kontakt os</a>
                    <div class="text-white mt-4 d-flex flex-column contact-link">
                        <a href="https://map.krak.dk/s/Boulevarden,%2019E,%20VEJLE" class="pb-3 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-secondary me-2"></i>Boulevarden 19E, 7100 Vejle </a>
                        <i class="fas fa-phone-alt text-secondary me-2"> +45 76 42 11 00 </i>
                        <p> </p>
                        <i class="fas fa-envelope text-secondary me-2"> support-bolig@unik.dk </i>
                    </div>
                </div>
            </div>
            <hr class="text-light mt-5 mb-4">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <span class="text-light"><i class="fas fa-copyright text-secondary me-2"></i>CTRL ALT ELITE, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    &copy; 2024 - BoligBlik.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
