@model BoligBlik.MVC.Models.Addresses.AddressViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AddressViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorNumber" class="control-label"></label>
                <input asp-for="DoorNumber" class="form-control" />
                <span asp-validation-for="DoorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCodeNumber" class="control-label"></label>
                <input asp-for="PostalCodeNumber" class="form-control" />
                <span asp-validation-for="PostalCodeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RowVersion" class="control-label"></label>
                <input asp-for="RowVersion" class="form-control" />
                <span asp-validation-for="RowVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
