@model BoligBlik.MVC.Models.Users.UserViewModel

@{
    ViewData["Title"] = "Claims";
}

<h1>Administration</h1>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Rettigheder:</h4>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Fornavn</label>
                    <input asp-for="FirstName" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Efternavn</label>
                    <input asp-for="LastName" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Telefon nr.</label>
                    <input asp-for="PhoneNumber" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label">Email</label>
                    <input asp-for="EmailAddress" class="form-control" readonly="readonly" />
                </div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="RowVersion" />
            </div>
            <div class="col-md-6">
                <form method="post" asp-action="Claims">
                    <div class="form-group">
                        <label for="rolesDropdown" class="control-label">Roller</label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="rolesDropdown">
                                Vælg en rolle
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Admin</a></li>
                                <li><a class="dropdown-item" href="#">Formand</a></li>
                                <li><a class="dropdown-item" href="#">Bruger</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Vælg" class="btn btn-primary" />
            <a asp-action="GetAll" class="btn btn-secondary">Tilbage til listen</a>
        </div>
    </div>
</form>